haiku-geometric==0.0.1a0
nbsphinx==0.8.9
sphinx==4.5.0
sphinx-autodoc-typehints==1.11.1
sphinx-book-theme==0.3.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==1.0.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-katex==0.8.6
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
Jinja2<3.1
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
